name: MLflow-CI

on:
  push:
    branches: [ main ]

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        auto-activate-base: false

    - name: Verify Conda Environment
      shell: bash -l {0}
      run: |
        echo "Python version:"
        python --version
        echo "MLflow version:"
        mlflow --version

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        mlflow run ./MLProject
